<div>
	<h3>Gallery Options</h3>
	<form method="DELETE" action="gallery/{{data._id}}/delete-gallery/">
		<button type="submit">Delete Gallery</button>
	</form>
	<form method="UPDATE" action="/gallery/{{data._id}}/edit">
		<input name="gallery[name]" />
		<input name="gallery[tags]" />
	</form>
</div>