<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truphoto</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <style>
		img {
			max-width: 500px;
			max-height: 300px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<ul class="nav navbar-nav">
			<li><a href="/browse">Browse Photos</a></li>
			<li><a href="/upload">Upload a photo</a></li>
			<li><a href="/adminpanel">Admin</a></li>
			<li><a href="/">Login</a><li>
		</ul>
	</nav>
	<div class="container">
    	{{{body}}}
	</div>
    <footer style="position:absolute; bottom:0; left:0; width: 100%; text-align:center">
    	<span>Truphoto</span>
    </footer>
<div id="modal-container" class="modal fade">
 	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       			 <h4 class="modal-title">Modal title</h4>
      		</div>
      		<div class="modal-body">
	        	
	      	</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		<button type="button" class="btn btn-primary">Save changes</button>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/handlebars-v1.1.2.js"></script>
<script src="/js/ajax.js"></script>
</body>
</html>
