
<h1>Admin Panel</h1>
<h2>Create A Gallery</h2>
<form action="/adminpanel" method="POST">
	<input type="text" name="gallery[name]" placeholder="gallery name" />
	<input type="text" name="gallery[password]" placeholder="gallery password" />
	<input type="text" name="gallery[tags]" placeholder="gallery tags" />
	<button type="submit">Save Gallery</button>
</form>
<h2>Create A Job</h2>
<form action="/adminpanel" method="POST">
	<input type="text" name="job[name]" placeholder="job name" />
	<input type="text" name="job[number]" placeholder="job number" />
	<button type="submit">Save Job</button>
</form>
<h2>Create A Client</h2>
<form action="/adminpanel" method="POST">
	<input type="text" name="client[firstName]" placeholder="client First name" />
	<input type="text" name="client[lastName]" placeholder="client Last name" />
	<input type="text" name="client[email]" placeholder="client email" />
	<input type="text" name="client[password]" placeholder="client password" />
	<input type="text" name="client[phone]" placeholder="client phone number" />
	<button type="submit">Save Client</button>
</form>
<h3>Galleries</h3>
<ul>
	{{#each data.galleries}}
	<li><a href="/gallery/{{this._id}}" title="{{this.tags}}">{{this.name}}</a></li>
	{{/each}}
</ul>
<h3>Jobs</h3>
<ul>
	{{#each data.jobs}}
	<li><a href="/job/{{this._id}}">{{this.name}}</a></li>
	{{/each}}
</ul>
<h3>Clients</h3>
<ul>
	{{#each data.clients}}
	<li>
		<a href="/client/{{this._id}}">{{this.firstName}}{{this.lastName}}</a>
		<ul>
			<li>Phone Number:{{this.phone}}</li>
			<li>Email:{{this.email}}</li>
		</ul>
	</li>
	{{/each}}
</ul>