<h1>client {{data.firstName}} {{data.lastName}}</h1>
<form id="delete-client-form" action="/client/{{data._id}}/delete" method="DELETE">
	<button id="delete-client">Delete client</button>
</form>
<a href="/client/{{data._id}}/edit">Edit client<a>