<h1>gallery {{data.name}}</h1>
<form id="delete-gallery-form" action="/gallery/{{data._id}}/delete" method="DELETE">
	<button id="delete-gallery">Delete gallery</button>
</form>
<a href="/gallery/{{data._id}}/edit">Edit gallery<a>
<h4>Photos in Gallery</h4>
{{#each data.childPhotos}}
<img src="{{this.filePath}}" alt="{{this.name}}" />
{{/each}}