<h1>Welcome to the homepage</h1>
<form action="login" method="POST">
	<input type="text" name="user[email]" placeholder="email">
	<input type="password" name="user[password]" placeholder="password">
	<button type="submit">Login</button>	
</form>