<h1>Edit Job Page for {{data.name}}</h1>
<form method="POST" action="/job/{{data._id}}/edit">
	<input type="text" name="job[name]" value="{{data.name}}" />
	<input type="text" name="job[number]" value="{{data.number}}" />
	<button type="submit">Save Edits</button>
</form>