<div id="single-job">
	<h1>Job {{data.job.name}}</h1>
	<form id="delete-job-form" action="/job/{{data._id}}/delete" method="DELETE">
		<button id="delete-job">Delete Job</button>
	</form>
	<a href="/job/{{data.job._id}}/edit">Edit Job</a>
	{{#if data.job.childGalleries}}
	<h4>Galleries in this job</h4>
		{{#each data.job.childGalleries}}
		<a href="/gallery/{{this._id}}/edit-via-ajax" class="open-gall-details">{{this.name}}</a>
		{{/each}}
	{{else}}
	<h4>There are no galleries in this job yet</h4>
	{{/if}}

	{{!-- Add galleries to the job --}}
	<h4>Add A gallery to this job</h4>
	<form action="/job/{{data.job._id}}/gallery-add" method="POST">
		<select name="gallery[id]">
			{{#each data.galleries}}
				<option value="{{this._id}}">{{this.name}}</option>
			{{/each}}
		</select>
		<button type="submit">Add Gallery to Job</button>
	</form>
	{{!-- Create a new gallery within this job --}}
	<h2>Create A Gallery for this Job</h2>
	<form action="/job/{{data.job._id}}/create-gallery" method="POST">
		<input type="text" name="gallery[name]" placeholder="gallery name" />
		<input type="text" name="gallery[password]" placeholder="gallery password" />
		<input type="text" name="gallery[tags]" placeholder="gallery tags" />
		<button type="submit">Save Gallery</button>
	</form>
	{{!-- remove gallery from this job --}}
	{{!-- See job details and statistics --}}
	{{!-- See Galleries in this job --}}
	{{#if data.job.childClients}}
	<h4>Clients in this job</h4>
		{{#each data.job.childClients}}
		<a href="/client/{{this._id}}">{{this.firstName}} {{this.lastName}}</a>
		{{/each}}
	{{else}}
	<h4>There are no galleries in this job yet</h4>
	{{/if}}

	{{!-- Add galleries to the job --}}
	<h4>Add A client to this job</h4>
	<form action="/job/{{data.job._id}}/client-add" method="POST">
		<select name="client[id]">
			{{#each data.clients}}
				<option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
			{{/each}}
		</select>
		<button type="submit">Add client to Job</button>
	</form>
</div>