<h1>Upload Photos</h1>
<form method="POST" action="/upload" enctype="multipart/form-data">
	<input type="text" name="photo[name]" />
	<input type="file" name="photo[file]" />
	<label>Parent Gallery to upload to</label>
	<select name="photo[parentGallery]">
		{{#each data}}
		<option value="{{this._id}}">{{this.name}}</option>
		{{/each}}
	</select>
	<button type="submit">Save File</button>
</form>